NEXT_PUBLIC_MSAL_CLIENT_ID=be506eca-697d-490a-8c0f-faac6082570c
NEXT_PUBLIC_MSAL_AUTHORITY=https://familyrecipesnelefelt.ciamlogin.com/68a7e24c-28cc-4001-8a03-097c7a7f2c15
NEXT_PUBLIC_MSAL_REDIRECT_URI=http://localhost:3000/
NEXT_PUBLIC_API_SCOPE=api://cf68bf65-fdb8-468d-80b7-1a80df1eb514/access_as_user
NEXT_PUBLIC_API_BASE_URL=http://localhost:5133
